{% extends "Template/baseBack.html.twig" %}

{% block title %}Administration{% endblock %}

{% block content %}  
    <div class="bs-component">
    <div class="row">
              <a class="card col-12 col-md-3 mx-4 border-primary mb-3" href="?action=addPost">
                <div class="card-header">NOUVEAU</div>
                <div class="card-body">
                  <p class="card-text text-center">Vous voulez faire une nouvelle publication ?</p>
                </div>
              </a>
              <a class="card col-12 col-md-3 mx-4 border-secondary mb-3" href="?action=editPost">
                <div class="card-header">MODIFICATION</div>
                <div class="card-body">
                  <p class="card-text text-center">Un post doit être modifié ?</p>
                </div>
              </a>
              <a class="card col-12 col-md-3 mx-4 border-warning mb-3" href="?action=validComment">
                <div class="card-header">VALIDATION</div>
                <div class="card-body">
                  <p class="card-text text-center">Retrouvez la liste des commentaires en attente de modération</p>
                </div>
              </a>
             </div> 
    </div>     
{% endblock %}
