{% extends "Template/baseBack.html.twig" %}

{% block title %}Modification Post (Liste){% endblock %}

{% block content %}
 <div class="bs-component">
        {% for post in listPosts %}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text"> {{ post.chapo }} </p>
                        <p class="card-text"> {{ post.date_last }} </p>
                        <a href="?action=post&postId={{ post.id }}" class="btn btn-primary">La suite</a>
                </div>
        {% endfor %}
</div>

<a class="btn btn-primary btn-sm float-right" href="?action=admin" role="button">Retour Accueil Admin</a>
{% endblock %}