{% extends "Template/baseBack.html.twig" %}

{% block title %}Modération Commentaires{% endblock %}

{% block content %}
<a class="btn btn-primary btn-sm float-right" href="?action=admin" role="button">Retour Accueil Admin</a>
{% endblock %}